<!DOCTYPE html>
<html>
<head>
    <title>PostTrends | Simple Instagram Analytics</title>

    <script type="text/javascript" src="{{ url_for('static', filename='js/posttrends.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/bd59d293d8.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-93761436-1', 'auto');
	  ga('send', 'pageview');

	</script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="row">
    <div class="col-sm-3" id="sidebar">
        <a href="/" id="home-page"><h4 id="logo"><i class="fa fa-pie-chart" aria-hidden="true"></i> PostTrends <sup>BETA</sup></h4></a>
        <br>
        <h1 id="username-text">{{all_data['userinfo']['username']}}</h1>
        <img src="{{all_data['basic']['profile_picture']}}">
        <h4 id="stats-fs">{{'{0:,}'.format(all_data['basic']['counts']['followed_by'])}} followers</h4>
        <h4 id="stats-fs">{{'{0:,}'.format(all_data['basic']['counts']['follows'])}} following</h4>
        <br>
        <hr>

<form type="submit" onsubmit="showSnapshot(); return false;" id="form">

<h4>Search</h4>
<input type="text" class="form-control" align="center" id="input_value" placeholder="Username"><br>

</form>

    </div>

<div class="col-sm-9" id="data">
<h3 id="header">Snapshot</h3>
<hr>
    <div class="col-sm-6" id="chart_div" >
        <h4> <i class="fa fa-heart" aria-hidden="true"></i> {{ '{0:,}'.format(all_data['likes'] | sum())}} Likes </h4>
        <br>        
        <canvas id="likesChart" width="350" height="200"></canvas>
    </div>
    <div class="col-sm-6" id="chart_div" >
        <h4> <i class="fa fa-comment" aria-hidden="true"></i> {{ '{0:,}'.format(all_data['comments'] | sum()) }} Comments </h4>
        <br>        
        <canvas id="commentsChart" width="350" height="200"></canvas>
    </div>
    <div class="col-sm-6" id="chart_div" >
        <h4> <i class="fa fa-calendar" aria-hidden="true"></i> Days Posted</h4>
        <br>        
        <canvas id="daysRadar" width="350" height="200"></canvas>
    </div>
	<div class="col-sm-6" id="chart_div" >
        <h4> <i class="fa fa-clock-o" aria-hidden="true"></i> Hours Posted</h4>
        <br>        
        <canvas id="hoursRadar" width="350" height="200"></canvas>
    </div>
    <div class="col-sm-6" id="chart_div" >
        <h4> <i class="fa fa-filter" aria-hidden="true"></i> Filters</h4>
        <br>        
        <canvas id="filtersBar" width="350" height="200"></canvas>
    </div>
	<div class="col-sm-6" id="chart_div" >
        <h4> <i class="fa fa-adjust" aria-hidden="true"></i> 
            {% if all_data['basic']['counts']['follows'] == 0%}
                Infinite Follow Ratio
            {% else %}
                {{(all_data['basic']['counts']['followed_by']/all_data['basic']['counts']['follows'])|round(1)}}
             Follow Ratio
             {% endif %}
         </h4>
        <br>        
        <canvas id="followRatio" width="350" height="200"></canvas>
    </div>

<!-- 
    <div class="col-sm-6" id="chart_div" >
        <h4> <i class="fa fa-filter" aria-hidden="true"></i> Filters</h4>
        <br>        
        <canvas id="tagPos" width="350" height="200"></canvas>
    </div>
 -->

    <div class="col-sm-12" style="padding-bottom: 5%;">
    <h4> <i class="fa fa-users" aria-hidden="true"></i> Tagged Users</h4>
    <br>
        {% for x in all_data['tags'] %}
            <div class="col-sm-4">
                <a href="#" onclick="showSnapshot('{{ x }}');">{{ x }}</a>
            </div>
        {% endfor %}
    </div>


</div>

</div>

</body>
</html>

<script>
  jQuery("#username-text").fitText();
</script>

<script type="text/javascript">

var newOldArr = new Array();
newOldArr.push("{{all_data['date_range'][1]}}");

for (var i = 0; i < {{all_data['likes']}}.length; i++) {
    newOldArr.push("");
};

newOldArr.push("{{all_data['date_range'][0]}}");

// <---- Likes trend ---->

var ctx = document.getElementById("likesChart");

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: newOldArr,
        datasets: [{
        	fill: false,
        	pointRadius: 0,
            data: {{all_data['likes']}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                '#DA627D',        
            ],
            borderWidth: 3
        },
        ]
    },
    options: {
        responsive: false,
        scales: {
            xAxes: [{
            	display: true,
	        	gridLines: {display: false},
                ticks: {
                    display: true
                }
            }],

	        yAxes: [{
                display: true,
                ticks: {
                    display: false,
                    maxTicksLimit: 5
                },

	        	gridLines: {display: false},
                ticks: {
                    beginAtZero:false
                }
            }],

        },
        legend: {
        	display: false,
        },

    }
});
// <---- End likes trend ---->

// <---- Comments trend ---->

var ctx = document.getElementById("commentsChart");

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: newOldArr,
        datasets: [{
            fill: false,
            pointRadius: 0,
            data: {{all_data['comments']}},
            backgroundColor: [
                'rgba(30, 80, 190, 0.2)',
            ],
            borderColor: [
                '#5AB1BB',
            ],
            borderWidth: 3
        },
        ]
    },
    options: {
        responsive: false,
        scales: {
            xAxes: [{
                display: true,
                gridLines: {display: false},
                ticks: {
                    display: true
                }
            }],

            yAxes: [{
                display: true,
                ticks: {
                    display: false,
                    maxTicksLimit: 5
                },

                gridLines: {display: false},
                ticks: {
                    beginAtZero:false
                }
            }],
        },
        legend: {
            display: false,
        },
    }
});
// <---- End Comments trend ---->

// <---- Days ---->

var ctx = document.getElementById("daysRadar");

var dayLabel = {{all_data['days']|safe}}.map(function(tuple) {
    return tuple[0];
});
var dayValue = {{all_data['days']|safe}}.map(function(tuple) {
    return tuple[1];
});

var data = {
    labels: dayLabel,
    datasets: [
        {
            backgroundColor: "#5FBB97",
        	pointRadius: 0,
            borderColor: "#5FBB97",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: dayValue
        }
    ]
};

var myRadarChart = new Chart(ctx, {
    type: 'radar',
    data: data,
    options: {
	        responsive: false,

        legend: {
            display: false,
        },
        scale: {
            gridLines: {display: false},
            ticks: {
                display: false
            }
        }


    }
});

// <---- Days end ---->


// <---- Hours ---->

var ctx = document.getElementById("hoursRadar");

var hourLabel = {{all_data['hours']|safe}}.map(function(tuple) {
    return tuple[0];
});
var hourValue = {{all_data['hours']|safe}}.map(function(tuple) {
    return tuple[1];
});

var data = {
    labels: hourLabel,
    datasets: [
        {
            backgroundColor: "#FE938C",
        	pointRadius: 0,
            borderColor: "#FE938C",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: hourValue
        }
    ]
};

var myRadarChart = new Chart(ctx, {
    type: 'radar',
    data: data,
    options: {
	        responsive: false,

        legend: {
            display: false,
        },
        scale: {
            gridLines: {display: false},
            ticks: {
                display: false
            }
        }


    }
});


var ctx = document.getElementById("filtersBar");

var hourLabel = {{all_data['filters']|safe}}.map(function(tuple) {
    return tuple[0];
});
var hourValue = {{all_data['filters']|safe}}.map(function(tuple) {
    return tuple[1];
});

var data = {
    labels: hourLabel,
    datasets: [
        {
            backgroundColor: "#918EF4",
            hoverBackgroundColor: "#918EF4",
            borderWidth: 0,
            data: hourValue
        }
    ]
};

var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
        responsive: false,
        legend: {
            display: false,
        },
        scales: {
		    xAxes: [{
		                gridLines: {
		                    display:false
		                }
		            }],
		    yAxes: [{
		                gridLines: {
		                    display:false
		                },
		                ticks: {
		              		display: false
		                }   
		            }]
        }
    }
});



var ctx = document.getElementById("followRatio");

var data = {
	labels: ['Followers', 'Following'],
    datasets: [
        {
            backgroundColor: ['#DA627D','#5AB1BB'],
            hoverBackgroundColor: ['#DA627D','#5AB1BB'],
            data: [{{all_data['basic']['counts']['followed_by']}}, {{all_data['basic']['counts']['follows']}}],
            borderWidth: 2,
        }
    ]
};

var myDoughnut = new Chart(ctx, {
    type: 'doughnut',
    data: data,
    options: {
    	cutoutPercentage: 70,	
        responsive: false,
        legend: {
            display: false,
        },
    }
});


// tag position 

var ctx = document.getElementById("tagPos");

var tagPos = {{all_data['tag_positions']}};
var tagArr = [];

for (var i = 0; i < tagPos.length; i++) {
    
    tagArr.push( 
        {
            x: tagPos[i][0],
            y: tagPos[i][1],
            r: 5
        });
};

console.log(tagArr);


var data = {

    datasets: [
        {
            data: tagArr,
            backgroundColor:"#FF6384",
            hoverBackgroundColor: "#FF6384",
        }]
};




// TAG POSITION 

// var myBubbleChart = new Chart(ctx,{
//     type: 'bubble',
//     data: data,
//     options: {
//         responsive: false,
//         legend: {
//             display: false,
//         },
//         scales: {
//             xAxes: [{
//                         gridLines: {
//                             display:false
//                         }
//                     }],
//             yAxes: [{
//                         gridLines: {
//                             display:false
//                         },
//                     }]
//         }
//     }
// });



// <---- Days end ---->
</script>
