<!DOCTYPE html>
<html>
<head> 
  <title>InStats</title>
  <link rel="stylesheet" href="static/bootstrap-3.3.5-dist/css/bootstrap.min.css">  
</head>
<body style="text-align: center;">

<div class="container">

<h1>Welcome to InStats!</h1>
<hr>
<br>
<br>
<h2>InStats is an analytics platform for Instagram</h2>
<br>
<br>
<br>
<br>

<br>
<div class="row-center" style="padding-left: 25%; padding-right: 25%;">
<!--   <div class="col-lg-6">
 -->    <form action="chart" method="GET">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" type="text" name="username">
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
        </span>
      </div>
    </form>
  </div>
<h5>Check out some examples: <a href="/chart?username=heemsworth">Ryan Hemsworth</a>, <a href="/chart?username=nrml">NRML</a>, <a href="/chart?username=boilerroomtv">Boiler Room</a></h5>
<br>
<br>
<br>
<br>
<h4>Check us out on <a href="https://github.com/nikodraca/InStats">GitHub</a> </h4>
<h4>Drop us a line <a href="MAILTO:admin@songtrast.com">here</a></h4>
<br>


</div>

<div class="navbar navbar-fixed-bottom" style="text-align:center;">
<hr>
<h2 style="font-size: 10px;">
 nikola draca, 2015
 </h2> 
</div>

</body>
</html>
